a {
    text-decoration: none;
    color: var(--primary-700);
    transition: all 150ms var(--ease-in-out);
}

a:hover,
a:focus-visible {
    text-decoration: underline;
    color: var(--primary-800);
}
a:active {
    color: var(--primary-600);
}

template,
noscript,
script,
style {
    display: none;
}

button {
    padding: 0;
}

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 4rem 1rem;
    color: var(--grey-800);
    overflow-y: scroll;
}

main {
    width: 1280px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 6rem;
}

aside {
    width: 256px;
}

article {
    max-width: 768px;
    width: 100%;
    margin-right: auto;
}

p {
    line-height: 1.618;
    margin: 1rem 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-medium);
    line-height: 1.618;
    cursor: pointer;
}

article h1:first-child,
article h2:first-child,
article h3:first-child,
article h4:first-child,
article h5:first-child,
article h6:first-child {
    margin-top: 0 !important;
}

h1 {
    font-size: var(--font-3xl);
    border-bottom: 1px solid var(--grey-300);
    padding-bottom: 0.5rem;
    margin-top: 4rem;
}
h1 span {
    font-size: var(--font-2xl);
}
h2 {
    font-size: var(--font-2xl);
    border-bottom: 1px solid var(--grey-300);
    padding-bottom: 0.5rem;
    margin-top: 4rem;
}
h2 span {
    font-size: var(--font-xl);
}
h3 {
    font-size: var(--font-xl);
    margin-top: 3rem;
}
h3 span {
    font-size: var(--font-lg);
}
h4 {
    font-size: var(--font-lg);
    margin-top: 2rem;
}
h4 span {
    font-size: var(--font-md);
}
h5 {
    font-size: var(--font-md);
    margin-top: 2rem;
}
h5 span {
    font-size: var(--font-base);
}
h6 {
    font-size: var(--font-base);
    margin-top: 2rem;
}
h6 span {
    font-size: var(--font-sm);
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    font-weight: var(--font-light);
    color: var(--primary-300);
    display: inline-block;
    margin-left: 0.5rem;
    transition: all 150ms var(--ease-in-out);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1px);
}

h1:hover span,
h2:hover span,
h3:hover span,
h4:hover span,
h5:hover span,
h6:hover span,
h1:focus-visible span,
h2:focus-visible span,
h3:focus-visible span,
h4:focus-visible span,
h5:focus-visible span,
h6:focus-visible span {
    opacity: 1;
    visibility: visible;
}

blockquote {
    padding: 0.75rem;
    padding-right: 1rem;
    border-left: 4px solid var(--primary-500);
    background-color: var(--primary-100);
    margin-top: 1rem;
}

blockquote p {
    margin: 0;
    margin-left: 0.5rem;
    color: var(--grey-900);
}

p code,
li code {
    font-family: var(--font-mono);
    font-size: var(--font-sm);
    display: inline-block;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
    border-radius: 0.125rem;
    background-color: var(--warning-200);
    color: var(--warning-900);
    overflow: hidden;
    line-height: 24px;
    vertical-align: bottom;
    cursor: text;
    user-select: all;
}

ul,
ol {
    margin-top: 1rem;
    margin-left: 0.25rem;
}

ul li {
    list-style-type: disc;
}

ol li {
    list-style-type: decimal;
}

ul ul,
ol ul,
ul ol,
ol ol {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
}

li {
    line-height: 1.618;
    list-style-position: inside;
    padding-bottom: 0.25rem;
}

nav {
    display: block;
    width: 100%;
    padding: 1rem 0;
}

.project-name {
    display: block;
    font-size: var(--font-xl);
    height: auto;
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
    color: var(--white);
}

.project-name::before {
    display: none;
}

nav header {
    font-size: var(--font-md);
    font-weight: var(--font-medium);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    margin-top: 2rem;
}

nav header:first-child {
    margin-top: 0;
}

nav a {
    text-transform: capitalize;
    margin-bottom: 0.25rem;
    height: 36px;
    line-height: 1.618;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin-left: -0.5rem;
    position: relative;
    user-select: none;
    transition: all 150ms var(--ease-in-out);
}
nav a span {
    display: inline-block;
    transform: translateX(0);
    transition: all 150ms var(--ease-in-out);
}
nav a:hover span {
    color: var(--primary-800);
}
nav a:focus-visible span {
    color: var(--primary-800);
}
nav a:active span {
    color: var(--primary-600);
}
nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background-color: var(--primary-500);
    display: inline-block;
    opacity: 0;
    transition: all 150ms var(--ease-in-out);
}
nav a:hover {
    text-decoration: none;
}
nav a:hover::before {
    opacity: 0.08;
}
nav a:active::before {
    opacity: 0.15;
}
nav a.is-active::before {
    opacity: 0.08;
}

@media (prefers-color-scheme: dark) {
    a {
        color: var(--primary-300);
    }
    a:hover,
    a:focus-visible {
        color: var(--primary-200);
    }
    a:active {
        color: var(--primary-400);
    }
    body {
        color: var(--neutral-100);
        background-color: rgb(23, 25, 35);
    }
    blockquote {
        border-left-color: var(--primary-500);
        background-color: transparent;
        position: relative;
    }
    blockquote::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--primary-600);
        opacity: 0.15;
    }
    blockquote p {
        color: var(--white);
    }
    p code,
    li code {
        background-color: transparent;
        color: var(--warning-300);
        position: relative;
    }
    p code::before,
    li code::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--warning-200);
        opacity: 0.06;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--white);
    }
    h1,
    h2 {
        border-bottom-color: var(--grey-800);
    }
    nav a:hover span {
        color: var(--primary-200);
    }
    nav a:focus-visible span {
        color: var(--primary-200);
    }
    nav a:active span {
        color: var(--primary-400);
    }
}
