.w-auto{
    width: auto;
}
.w-full{
    width: 100%;
}
.w-screen{
    width: 100vw;
}
.min-w-full{
    min-width: 100%;
}
.max-w-full{
    max-width: 100%;
}
.max-w-screen{
    max-width: 100vw;
}
.h-auto{
    height: auto;
}
.h-full{
    height: 100%;
}
.h-screen{
    height: 100vh;
}
.min-h-full{
    min-height: 100%;
}
.max-h-full{
    max-height: 100%;
}
.max-h-screen{
    max-height: 100vh;
}
