.cursor-default{
    cursor: default;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-not-allowed{
    cursor: not-allowed;
}
.events-none{
    pointer-events: none;
}
.events-auto{
    position: auto;
}
.select-none{
    user-select: none;
}
.select-auto{
    user-select: auto;
}
.select-all{
    user-select: all;
}
.select-text{
    user-select: text;
}