[flex]{
    display: flex;
}
[flex~="box"]{
    display: flexbox;
}
[flex~="justify-center"]{
    justify-content: center;
}
[flex~="justify-start"]{
    justify-content: flex-start;
}
[flex~="justify-end"]{
    justify-content: flex-end;
}
[flex~="justify-between"]{
    justify-content: space-between;
}
[flex~="justify-around"]{
    justify-content: space-around;
}
[flex~="justify-evenly"]{
    justify-content: space-evenly;
}
[flex~="content-center"]{
    align-content: center;
}
[flex~="content-start"]{
    align-content: flex-start;
}
[flex~="content-end"]{
    align-content: flex-end;
}
[flex~="content-between"]{
    align-content: space-between;
}
[flex~="content-around"]{
    align-content: space-around;
}
[flex~="content-evenly"]{
    align-content: space-evenly;
}
[flex~="items-stretch"]{
    align-items: stretch;
}
[flex~="items-center"]{
    align-items: center;
}
[flex~="items-start"]{
    align-items: flex-start;
}
[flex~="items-end"]{
    align-items: flex-end;
}
[flex~="row"]{
    flex-direction: row;
}
[flex~="row"][flex~="reversed"]{
    flex-direction: row-reverse;
}
[flex~="column"]{
    flex-direction: column;
}
[flex~="column"][flex~="reversed"]{
    flex-direction: column-reverse;
}
[flex~="wrap"]{
    flex-wrap: wrap;
}
[flex~="nowrap"]{
    flex-wrap: nowrap;
}