/* Auto */
[margin="auto"]{
    margin: auto;
}

[margin~="x-auto"]{
    margin-left: auto;
    margin-right: auto;
}
[margin~="y-auto"]{
	margin-top: auto;
	margin-bottom: auto;
}
[margin~="t-auto"]{
	margin-top: auto;
}
[margin~="r-auto"]{
	margin-right: auto;
}
[margin~="b-auto"]{
	margin-bottom: auto;
}
[margin~="l-auto"]{
	margin-left: auto;
}

/* All */
[margin="0"]{
	margin: 0rem;
}
[margin="0.125"]{
	margin: 0.125rem;
}
[margin="0.25"]{
	margin: 0.25rem;
}
[margin="0.5"]{
	margin: 0.5rem;
}
[margin="0.75"]{
	margin: 0.75rem;
}
[margin="1"]{
	margin: 1rem;
}
[margin="1.25"]{
	margin: 1.25rem;
}
[margin="1.5"]{
	margin: 1.5rem;
}
[margin="1.75"]{
	margin: 1.75rem;
}
[margin="2"]{
	margin: 2rem;
}
[margin="2.25"]{
	margin: 2.25rem;
}
[margin="2.5"]{
	margin: 2.5rem;
}
[margin="2.75"]{
	margin: 2.75rem;
}
[margin="3"]{
	margin: 3rem;
}
[margin="4"]{
	margin: 4rem;
}
[margin="5"]{
	margin: 5rem;
}
[margin="6"]{
	margin: 6rem;
}

/* Left & Right */
[margin~="x-0"]{
    margin-left: 0;
    margin-right: 0;
}
[margin~="x-0.125"]{
	margin-left: 0.125rem;
	margin-right: 0.125rem;
}
[margin~="x-0.25"]{
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
[margin~="x-0.5"]{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
[margin~="x-0.75"]{
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}
[margin~="x-1"]{
	margin-left: 1rem;
	margin-right: 1rem;
}
[margin~="x-1.25"]{
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}
[margin~="x-1.5"]{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
[margin~="x-1.75"]{
	margin-left: 1.75rem;
	margin-right: 1.75rem;
}
[margin~="x-2"]{
	margin-left: 2rem;
	margin-right: 2rem;
}
[margin~="x-2.25"]{
	margin-left: 2.25rem;
	margin-right: 2.25rem;
}
[margin~="x-2.5"]{
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}
[margin~="x-2.75"]{
	margin-left: 2.75rem;
	margin-right: 2.75rem;
}
[margin~="x-3"]{
	margin-left: 3rem;
	margin-right: 3rem;
}
[margin~="x-4"]{
	margin-left: 4rem;
	margin-right: 4rem;
}
[margin~="x-5"]{
	margin-left: 5rem;
	margin-right: 5rem;
}
[margin~="x-6"]{
	margin-left: 6rem;
	margin-right: 6rem;
}

/* Top & Bottom */

[margin~="y-0"]{
	margin-top: 0rem;
	margin-bottom: 0rem;
}
[margin~="y-0.125"]{
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
}
[margin~="y-0.25"]{
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
[margin~="y-0.5"]{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
[margin~="y-0.75"]{
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
[margin~="y-1"]{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
[margin~="y-1.25"]{
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
[margin~="y-1.5"]{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
[margin~="y-1.75"]{
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}
[margin~="y-2"]{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
[margin~="y-2.25"]{
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
}
[margin~="y-2.5"]{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
[margin~="y-2.75"]{
	margin-top: 2.75rem;
	margin-bottom: 2.75rem;
}
[margin~="y-3"]{
	margin-top: 3rem;
	margin-bottom: 3rem;
}
[margin~="y-4"]{
	margin-top: 4rem;
	margin-bottom: 4rem;
}
[margin~="y-5"]{
	margin-top: 5rem;
	margin-bottom: 5rem;
}
[margin~="y-6"]{
	margin-top: 6rem;
	margin-bottom: 6rem;
}

/* Top */

[margin~="t-0"]{
	margin-top: 0rem;
}
[margin~="t-0.125"]{
	margin-top: 0.125rem;
}
[margin~="t-0.25"]{
	margin-top: 0.25rem;
}
[margin~="t-0.5"]{
	margin-top: 0.5rem;
}
[margin~="t-0.75"]{
	margin-top: 0.75rem;
}
[margin~="t-1"]{
	margin-top: 1rem;
}
[margin~="t-1.25"]{
	margin-top: 1.25rem;
}
[margin~="t-1.5"]{
	margin-top: 1.5rem;
}
[margin~="t-1.75"]{
	margin-top: 1.75rem;
}
[margin~="t-2"]{
	margin-top: 2rem;
}
[margin~="t-2.25"]{
	margin-top: 2.25rem;
}
[margin~="t-2.5"]{
	margin-top: 2.5rem;
}
[margin~="t-2.75"]{
	margin-top: 2.75rem;
}
[margin~="t-3"]{
	margin-top: 3rem;
}
[margin~="t-4"]{
	margin-top: 4rem;
}
[margin~="t-5"]{
	margin-top: 5rem;
}
[margin~="t-6"]{
	margin-top: 6rem;
}

/* Right */

[margin~="r-0"]{
	margin-right: 0rem;
}
[margin~="r-0.125"]{
	margin-right: 0.125rem;
}
[margin~="r-0.25"]{
	margin-right: 0.25rem;
}
[margin~="r-0.5"]{
	margin-right: 0.5rem;
}
[margin~="r-0.75"]{
	margin-right: 0.75rem;
}
[margin~="r-1"]{
	margin-right: 1rem;
}
[margin~="r-1.25"]{
	margin-right: 1.25rem;
}
[margin~="r-1.5"]{
	margin-right: 1.5rem;
}
[margin~="r-1.75"]{
	margin-right: 1.75rem;
}
[margin~="r-2"]{
	margin-right: 2rem;
}
[margin~="r-2.25"]{
	margin-right: 2.25rem;
}
[margin~="r-2.5"]{
	margin-right: 2.5rem;
}
[margin~="r-2.75"]{
	margin-right: 2.75rem;
}
[margin~="r-3"]{
	margin-right: 3rem;
}
[margin~="r-4"]{
	margin-right: 4rem;
}
[margin~="r-5"]{
	margin-right: 5rem;
}
[margin~="r-6"]{
	margin-right: 6rem;
}

/* Bottom */

[margin~="b-0"]{
	margin-bottom: 0rem;
}
[margin~="b-0.125"]{
	margin-bottom: 0.125rem;
}
[margin~="b-0.25"]{
	margin-bottom: 0.25rem;
}
[margin~="b-0.5"]{
	margin-bottom: 0.5rem;
}
[margin~="b-0.75"]{
	margin-bottom: 0.75rem;
}
[margin~="b-1"]{
	margin-bottom: 1rem;
}
[margin~="b-1.25"]{
	margin-bottom: 1.25rem;
}
[margin~="b-1.5"]{
	margin-bottom: 1.5rem;
}
[margin~="b-1.75"]{
	margin-bottom: 1.75rem;
}
[margin~="b-2"]{
	margin-bottom: 2rem;
}
[margin~="b-2.25"]{
	margin-bottom: 2.25rem;
}
[margin~="b-2.5"]{
	margin-bottom: 2.5rem;
}
[margin~="b-2.75"]{
	margin-bottom: 2.75rem;
}
[margin~="b-3"]{
	margin-bottom: 3rem;
}
[margin~="b-4"]{
	margin-bottom: 4rem;
}
[margin~="b-5"]{
	margin-bottom: 5rem;
}
[margin~="b-6"]{
	margin-bottom: 6rem;
}

/* Left */

[margin~="l-0"]{
	margin-left: 0rem;
}
[margin~="l-0.125"]{
	margin-left: 0.125rem;
}
[margin~="l-0.25"]{
	margin-left: 0.25rem;
}
[margin~="l-0.5"]{
	margin-left: 0.5rem;
}
[margin~="l-0.75"]{
	margin-left: 0.75rem;
}
[margin~="l-1"]{
	margin-left: 1rem;
}
[margin~="l-1.25"]{
	margin-left: 1.25rem;
}
[margin~="l-1.5"]{
	margin-left: 1.5rem;
}
[margin~="l-1.75"]{
	margin-left: 1.75rem;
}
[margin~="l-2"]{
	margin-left: 2rem;
}
[margin~="l-2.25"]{
	margin-left: 2.25rem;
}
[margin~="l-2.5"]{
	margin-left: 2.5rem;
}
[margin~="l-2.75"]{
	margin-left: 2.75rem;
}
[margin~="l-3"]{
	margin-left: 3rem;
}
[margin~="l-4"]{
	margin-left: 4rem;
}
[margin~="l-5"]{
	margin-left: 5rem;
}
[margin~="l-6"]{
	margin-left: 6rem;
}