.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
}
.t-auto{
    top: auto;
}
.r-auto{
    right: auto;
}
.b-auto{
    bottom: auto;
}
.l-auto{
    left: auto;
}
.x-auto{
    right: auto;
    left: auto;
}
.y-auto{
    top: auto;
    bottom: auto;
}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.x-center{
    left: 50%;
    transform: translateX(-50%);
}
.y-center{
    top: 50%;
    transform: translateY(-50%);
}