[position~="relative"]{
    position: relative;
}
[position~="absolute"]{
    position: absolute;
}
[position~="fixed"]{
    position: fixed;
}
[position~="sticky"]{
    position: sticky;
}
[position~="t-auto"]{
    top: auto;
}
[position~="r-auto"]{
    right: auto;
}
[position~="b-auto"]{
    bottom: auto;
}
[position~="l-auto"]{
    left: auto;
}
[position~="x-auto"]{
    right: auto;
    left: auto;
}
[position~="y-auto"]{
    top: auto;
    bottom: auto;
}
[position~="center"]{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
[position~="x-center"]{
    left: 50%;
    transform: translateX(-50%);
}
[position~="y-center"]{
    top: 50%;
    transform: translateY(-50%);
}