.whitespace-normal{
    white-space: normal;
}
.whitespace-nowrap{
    white-space: nowrap;
}
.whitespace-pre{
    white-space: pre;
}
.whitespace-pre-line{
    white-space: pre-line;
}
.whitespace-pre-wrap{
    white-space: pre-wrap;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-none{
    text-transform: none;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}